@model CommentApplication.ViewModel.ForgotPasswordViewModel
@{
    ViewBag.Title = "ForgotPassword";
}

<h2>Forgot Password</h2>

<div>
    @using (Html.BeginForm("DisplayUserPassword", "Account"))
    {
        <div style="color:red;">@Html.ValidationSummary()</div>       
        <div class="form-group">
            <br />
            <div class="text-success">
                @ViewBag.Message
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-10">@Html.LabelFor(a => a.Email)</div>
                <br>
                <div class="col-lg-10">@Html.TextBoxFor(a => a.Email, new { @class = "form-control" })</div>
            </div><br />
            <div class="row">
                <div class="col-lg-10">@Html.LabelFor(a => a.SecretCode)</div>
                <br>
                <div class="col-lg-10">@Html.TextBoxFor(a => a.SecretCode, new { @class = "form-control" })</div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <br />
                    <input type="submit" value="Forgot Password" class="btn btn-primary" /><br />
                </div>
            </div>
        </div>
    }

</div>